<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">Edit Boulder</h1>
        <div class="col-6 offset-3 mt-5">
            <form action="/problems/<%= boulder._id %>?_method=PUT" method="POST" novalidate class="validated-form">
                <div class="row">
                    <div class="col-6">
                        <div class="form-floating mb-3">
                            <input value="<%= boulder.color %>" placeholder="Color" class="form-control shadow" type="text" name="boulder[color]" id="color" required>
                            <label for="color">Color</label>
                            <div class="invalid-feedback">
                                Please enter a color
                            </div>
                            <div class="valid-feedback">
                                Looks good
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-floating mb-3">
                            <select class="form-select shadow" name="boulder[grade]" id="grade" required>
                                <option selcted>
                                    <%= boulder.grade %>
                                </option>
                                <option value="V0">V0</option>
                                <option value="V1">V1</option>
                                <option value="V2">V2</option>
                                <option value="V3">V3</option>
                                <option value="V4">V4</option>
                                <option value="V5">V5</option>
                                <option value="V6">V6</option>
                                <option value="V7">V7</option>
                                <option value="V8">V8</option>
                                <option value="V9">V9</option>
                            </select>
                            <label for="grade">Choose Grade</label>
                            <div class="invalid-feedback">
                                Please choose a grade
                            </div>
                            <div class="valid-feedback">
                                Looks good
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-floating mb-3">
                            <select class="form-select shadow" name="boulder[attempts]" id="attempts" required>
                                <option selcted>
                                    <%= boulder.attempts %>
                                </option>
                                <option value="Onsighted">Onsighted</option>
                                <option value="Flashed">Flashed</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10+">10+</option>
                            </select>
                            <label for="attempts">Number of Attempts</label>
                            <div class="invalid-feedback">
                                Required
                            </div>
                            <div class="valid-feedback">
                                Looks good
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-floating mb-3">
                            <input value="<%= boulder.location %>" placeholder="Location" class="form-control shadow" type="text" name="boulder[location]" id="location" required>
                            <label for="location">Location</label>
                            <div class="invalid-feedback">
                                Please enter a location
                            </div>
                            <div class="valid-feedback">
                                Looks good
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" value="true" id="sent" name="boulder[sent]" <% if (boulder.sent) { %> checked disabled <% } %>>
                        <label class="form-check-label" for="sent">
                            Did you send?
                        </label>
                </div>
                <div class="mb-3">
                    <button id="boulderBtn" class="btn">Update Boulder</button>
                </div>
            </form>
            <div class="d-flex justify-content-between align-items-center">
                <a style="color: #ee6352;" class="text-decoration-none" href="/problems">Cancel</a>
                <form action="/problems/<%= boulder._id %>?_method=DELETE" method="POST">
                    <button id="deleteBtn" class="btn">Delete Boulder</button>
                </form>
            </div>
        </div>
    </div>