<% layout('layouts/boilerplate') %>
    <div class="container d-flex justify-content-center">
        <h5 class="display-5">
            Today's Date: <strong>
                <%= date %>
            </strong>
        </h5>
    </div>
    <div class="container d-flex justify-content-center mb-5">
        <div class="container w-md-50 d-flex justify-content-center mt-3">
            <a class="btn btn-primary me-3" href="/problems/newBoulder">Log Boulder</a>
            <a class="btn btn-success ms-3" href="/problems/newRoute">Log Route</a>
        </div>
    </div>
    <div class="container d-flex flex-column flex-xl-row">
        <div class="container rounded md-6 mb-3 mx-2 pt-2 pb-3 bg-white" id="sendContainer">
            <h4 class="display-4 text-center">Problems Sent Today</h4>
            <div class="container d-flex justify-content-center mt-3">
                <div class="container d-flex flex-column align-items-center">
                    <% for (let boulder of boulders) { %>
                        <% if (boulder.sent && boulder.date===date) { %>
                            <div class="row rounded w-100 text-white bg-primary pt-3 my-2">
                                <div class="col-4 text-center">
                                    <p>
                                        <strong>
                                            <%= boulder.title %>
                                        </strong>
                                    </p>
                                </div>
                                <div class="col-4 text-center">
                                    <p>
                                        <em>
                                            <%= boulder.location %>
                                        </em>
                                    </p>
                                </div>
                                <div class="col-4 text-center">
                                    <p>
                                        <% if (boulder.attempts==='Flashed' || boulder.attempts==='Onsighted' ) { %>
                                            <%= boulder.attempts %>
                                                <% } else { %>
                                                    <%= boulder.attempts %> attempts
                                                        <% } %>
                                    </p>
                                </div>
                            </div>
                            <% } %>
                                <% } %>
                                    <% for (let route of routes) { %>
                                        <% if (route.sent && route.date===date) { %>
                                            <div class="row rounded w-100 bg-success text-white pt-3 my-2">
                                                <div class="col-4 text-center">
                                                    <p>
                                                        <strong>
                                                            <%= route.title %>
                                                        </strong>
                                                    </p>
                                                </div>
                                                <div class="col-4 text-center">
                                                    <p>
                                                        <em>
                                                            <%= route.location %>
                                                        </em>
                                                    </p>
                                                </div>
                                                <div class="col-4 text-center">
                                                    <p>
                                                        <% if (route.attempts==='Flashed' ||
                                                            route.attempts==='Onsighted' ) { %>
                                                            <%= route.attempts %>
                                                                <% } else { %>
                                                                    <%= route.attempts %> attempts
                                                                        <% } %>
                                                    </p>
                                                </div>
                                            </div>
                                            <% } %>
                                                <% } %>
                </div>
            </div>
        </div>
        <div class="container rounded md-6 mb-3 mx-2 pt-2 pb-3 bg-white">
            <h1 class="display-4 text-center">Ongoing Projects</h1>
            <div class="container rounded d-flex justify-content-center mt-3">
                <div class="container d-flex flex-column align-items-center">
                    <% for (let boulder of boulders) { %>
                        <% if (!boulder.sent) { %>
                            <div class="row w-100 rounded text-white bg-primary ps-2 pt-3 my-2">
                                <div class="col-4 col-md-3 text-center">
                                    <p>
                                        <strong>
                                            <%= boulder.title %>
                                        </strong>
                                    </p>
                                </div>
                                <div class="col-md-3 d-none d-md-block text-center">
                                    <p>
                                        <em>
                                            <%= boulder.location %>
                                        </em>
                                    </p>
                                </div>
                                <div class="col-4 col-md-3 text-center">
                                    <p>
                                        <%= boulder.attempts %> attempts
                                    </p>
                                </div>
                                <div class="col-4 col-md-3 text-center">
                                    <strong>
                                        <a class="text-warning text-decoration-none"
                                            href="/problems/<%= boulder._id %>/edit">Update</a>
                                    </strong>
                                </div>
                            </div>
                            <% } %>
                                <% } %>
                                    <% for (let route of routes) { %>
                                        <% if (!route.sent) { %>
                                            <div class="row rounded w-100 bg-success text-white ps-2 pt-3 my-2">
                                                <div class="col-4 col-md-3 text-center">
                                                    <p>
                                                        <strong>
                                                            <%= route.title %>
                                                        </strong>
                                                    </p>
                                                </div>
                                                <div class="col-md-3 d-none d-md-block text-center">
                                                    <p>
                                                        <em>
                                                            <%= route.location %>
                                                        </em>
                                                    </p>
                                                </div>
                                                <div class="col-4 col-md-3 text-center">
                                                    <p>
                                                        <%= route.attempts %> attempts
                                                    </p>
                                                </div>
                                                <div class="col-4 col-md-3 text-center">
                                                    <strong>
                                                        <a class="text-warning text-decoration-none"
                                                            href="/problems/<%= route._id %>/edit">Update</a>
                                                    </strong>
                                                </div>
                                            </div>
                                            <% } %>
                                                <% } %>
                </div>
            </div>
        </div>
    </div>