<% layout('layouts/boilerplate') %>
    <div class="container mb-3" id="sendContainer">
        <h1 class="display-4 text-center">What Did I Send Today?</h1>
        <div class="container d-flex justify-content-evenly">
            <p class="lead">
                <strong>
                    <%= date %>
                </strong>
            </p>
        </div>
        <div class="container rounded w-75 bg-body-secondary d-flex justify-content-center mt-3">
            <div class="container d-flex flex-column align-items-center">
                <% for (let boulder of boulders) { %>
                    <% if (boulder.sent) { %>
                        <div class="row w-75 rounded text-white bg-primary border border-black pt-3 my-2">
                            <div class="col-md-4 text-center">
                                <p>
                                    <strong>
                                        <%= boulder.title %>
                                    </strong>
                                </p>
                            </div>
                            <div class="col-md-4 text-center">
                                <p>
                                    <em>
                                        <%= boulder.location %>
                                    </em>
                                </p>
                            </div>
                            <div class="col-md-4 text-center">
                                <p>
                                    <%= boulder.attempts %> attempts
                                </p>
                            </div>
                        </div>
                        <% } %>
                            <% } %>
                                <% for (let route of routes) { %>
                                    <% if (route.sent) { %>
                                        <div
                                            class="row w-75 rounded bg-success text-white border border-black pt-3 my-2">
                                            <div class="col-md-4 text-center">
                                                <p>
                                                    <strong>
                                                        <%= route.title %>
                                                    </strong>
                                                </p>
                                            </div>
                                            <div class="col-md-4 text-center">
                                                <p>
                                                    <em>
                                                        <%= route.location %>
                                                    </em>
                                                </p>
                                            </div>
                                            <div class="col-md-4 text-center">
                                                <p>
                                                    <%= route.attempts %> attempts
                                                </p>
                                            </div>
                                        </div>
                                        <% } %>
                                            <% } %>
            </div>
        </div>
    </div>
    <div class="container md-6">
        <h1 class="display-4 text-center">Projects</h1>
    </div>
    <div class="container rounded w-75 bg-body-secondary d-flex justify-content-center mt-3">
        <div class="container d-flex flex-column align-items-center">
            <% for (let boulder of boulders) { %>
                <% if (!boulder.sent) { %>
                    <div class="row w-75 rounded text-white bg-primary border border-black pt-3 my-2">
                        <div class="col-md-3 text-center">
                            <p>
                                <strong>
                                    <%= boulder.title %>
                                </strong>
                            </p>
                        </div>
                        <div class="col-md-3 text-center">
                            <p>
                                <em>
                                    <%= boulder.location %>
                                </em>
                            </p>
                        </div>
                        <div class="col-md-3 text-center">
                            <p>
                                <%= boulder.attempts %> attempts
                            </p>
                        </div>
                        <div class="col-md-3 text-center">
                            <strong>
                                <a class="text-warning text-decoration-none" href="/problems/editBoulder">Update</a>
                            </strong>
                        </div>
                    </div>
                    <% } %>
                        <% } %>
                            <% for (let route of routes) { %>
                                <% if (!route.sent) { %>
                                    <div class="row w-75 rounded bg-success text-white border border-black pt-3 my-2">
                                        <div class="col-md-3 text-center">
                                            <p>
                                                <strong>
                                                    <%= route.title %>
                                                </strong>
                                            </p>
                                        </div>
                                        <div class="col-md-3 text-center">
                                            <p>
                                                <em>
                                                    <%= route.location %>
                                                </em>
                                            </p>
                                        </div>
                                        <div class="col-md-3 text-center">
                                            <p>
                                                <%= route.attempts %> attempts
                                            </p>
                                        </div>
                                        <div class="col-md-3 text-center">
                                            <strong>
                                                <a class="text-warning text-decoration-none"
                                                    href="/problems/editRoute">Update</a>
                                            </strong>
                                        </div>
                                    </div>
                                    <% } %>
                                        <% } %>
        </div>
    </div>
    <div class="container d-flex justify-content-center mt-3">
        <div class="btn-group" role="group">
            <a class="btn btn-primary" href="/problems/newBoulder">Log Boulder</a>
            <a class="btn btn-success" href="/problems/newRoute">Log Route</a>
        </div>
    </div>